<h3>Submit species to <em><%= @genus.name %></em></h3>

<form action="/genus/<%= @genus.id %>/species" method="post">
  <input type="text" name="name" class="database_entry">
  <button type="submit">Add species</button>
</form>

<% if @species.any? %>
    <% @species.each do |species| %>
      <ul>
        <li><%= species.name %></li>
      </ul>
    <% end %>
    <% else %>
    <p>
      There are no species for this genus
    </p>
<% end %>
