<h3>Submit families:</h3>

<form action="/families" method="post">
  <input type="text" name="name" class="database_entry">
  <button type="submit">Add families to the database</button>
</form>

<% if @families.any? %>
  <% @families.each do |family| %>
    <ul>
      <li><%= family.name %> | <a href="/family/<%= family.id %>">add genera</a></li>
    </ul>
  <% end %>
<% end %>
